[Unit]
Description=Stewdio API
After=syslog.target

[Service]
ExecStart=/usr/bin/gunicorn -b 127.0.0.1:8011 --worker-class flask_sockets.worker stewdio:app
Restart=always
KillSignal=SIGQUIT
User=stewdio
Group=stewdio

[Install]
WantedBy=multi-user.target
