<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stewdio Search</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Stewdio Search</h1>

<div>
	<form method="POST" action="{{ url_for("search") }}">
		<input type="text" name="q" id="q" placeholder="Search…"/>
	</form>
</div>

<div id="results">
</div>

<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	oldqs = "";
	$("#q").keyup(function () {
		var qs = $("#q").val();
		if(qs == oldqs || qs.length < 2) return;
		oldqs = qs;
		$.ajax({
			type: "POST",
			url: "{{ url_for("search") }}",
			data: {q: qs}
		}).success(function (data, status, xhr) {
			var res = JSON.parse(data);
			var list = document.createElement("ul");
			for(var i = 0; i < res.length; i++) {
				var item = document.createElement("li");
				item.textContent = res[i].hash.substr(0, 7) + " - " + res[i].artist + " - " + res[i].title + " (" + res[i].album + ")";
				list.appendChild(item);
			}
			$("#results").html(list);
		});
	});
</script>
</body>
</html>