<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stewdio Search</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Stewdio Search</h1>

<div>
	<input type="text" name="q" id="q" placeholder="Search…"/>
</div>

<div id="results">
</div>

<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	var oldqs = "";
	var xhr = null;
	var input = document.getElementById("q");
	var timeout = 150;
	var timer;

	input.addEventListener("keyup", function(e) {
		clearTimeout(timer);
		timer = setTimeout(runQuery, timeout);
	});
	input.addEventListener("keydown", function(e) {
		clearTimeout(timer);
	});
	function runQuery() {
		var qs = input.value;
		if(qs == oldqs) return;
		oldqs = qs;
		if(qs == "") {
			results.innerHTML = "";
			return;
		}
		if (xhr !== null) {
			xhr.abort();
		}
		xhr = new XMLHttpRequest();
		xhr.open("GET", "/api/search/" + qs);
		xhr.onload = function() {
			var res = JSON.parse(xhr.responseText);
			var list = document.createElement("ul");
			for (var i = 0; i < res.length; i++) {
				var resi = res[i];
				var li = document.createElement("li");
				var item = document.createElement("a");
				item.href = "/api/request/" + res[i].hash.substr(0, 7);
				item.onclick = function(e) {
					e.preventDefault();
					this.onclick = function (e) {e.preventDefault();};
					var xhr = new XMLHttpRequest();
					xhr.open("GET", this.href);
					xhr.send();
					var okay = document.createElement("span");
					okay.textContent = "✔";
					this.parentNode.insertBefore(okay, this);
				};
				item.textContent = resi.hash.substr(0, 7) + " - " + resi.artist + " - " + resi.title + " (" + resi.album + ")";
				li.appendChild(item);
				list.appendChild(li);
			}
			results.innerHTML = "";
			results.appendChild(list);
			xhr = null;
		};
		xhr.send();
	}
</script>
</body>
</html>
